src/Persons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persons" type="personsType"/>
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element type="xs:string" name="role"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="date"/>
      <xs:element type="xs:string" name="hour"/>
      <xs:element type="xs:string" name="message"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personsType">
    <xs:sequence>
      <xs:element type="usersType" name="users" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>